html {
    position: relative;
    height: 100%;
}
body {
    font-family: 'Inconsolata', monospace !important;
    height: 100%;
}
textarea.form-control {
    font-size: 80%;
    height: 100%;
    width: 100%;
    padding: 15px;
}
.nav-item a:hover { 
    color: #CFB53B !important; 
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
